.woocommerce-marketing-overview {
	max-width: 1032px;
	margin: 0 auto;
}

.woocommerce-marketing-overview-welcome-card {
	position: relative;

	.woocommerce-card__body {
		display: flex;
		justify-content: center;
		align-items: center;

		@include breakpoint( '>960px' ) {
			padding: 32px 108px;
		}
	}

	&__hide-button {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	h3 {
		font-size: 24px;
		line-height: 32px;
		font-weight: normal;
		margin-left: 20px;

		@include breakpoint( '<960px' ) {
			font-size: 20px;
			line-height: 26px;
		}
	}

	img {
		max-width: 231px;
	}
}

.container {
	overflow: hidden;
	width: 100%;
}

.woocommerce-marketing-knowledgebase-card__page {
	margin-bottom: 16px;
	width: 100%;
	display: flex;
}

.woocommerce-marketing-knowledgebase-card__post {
	display: flex;
	width: 100%;

	> img {
		display: block;
		width: 100%;
		margin-right: 16px;
	}

	> div {

	}

	h3 {
		margin-top: 0;
		margin-bottom: 8px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		white-space: normal;
	}

	.woocommerce-marketing-knowledgebase-card__post-meta {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 12px;
		line-height: 16px;

		.author {
			margin-right: 5px;
		}
	}
}

//.woocommerce-slide-animation {
//	display: block;
//	width: 100%;
//	overflow: hidden;
//
//	& > div {
//		white-space: normal !important;
//		display: block;
//	}
//}


.woocommerce-marketing-knowledgebase-slider {
	position: relative;
	height: 200px;
	overflow: hidden;

	&__slide {
		position: absolute;
		top: 0;
		left: 0;
		transition: transform 500ms ease-in;
	}

	.slide-enter {
		transform: translateX(-100%);
	}

	.slide-enter-active {
		transform: translateX(0);
	}

	.slide-exit {
		transform: translateX(0);
	}

	.slide-exit-active {
		transform: translateX(100%);
	}
}
